block config
  include ../config/variables

<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title #{titulo} | #{sitio}
    meta(name="description" content="#{descripcion}")
    link(rel="icon" href="img/favicon.png")
    link(rel="stylesheet" href="css/edgrid.css")
    link(rel="stylesheet" href="css/estilos.css")
  body
    header.ed-container
        .ed-item.web-20
          include ../blocks/logo
        .ed-item.web-80
          nav
            include ../blocks/menu
    #banner.ed-container
      .ed-item
        include ../blocks/banner

    .ed-container
      main.ed-item.web-75
        block main
      aside.ed-item.web-25
        .aside-inner
          block aside
    footer
      .ed-container
        .ed-item
          include ../blocks/footer