extends templates/template

append config
  -titulo = "Contacto"
  -paginaActual = "contacto"

block main
  h1 Contacto
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores minima necessitatibus dolor harum modi. Enim corporis dolores ipsa non odit assumenda. Hic dolor eaque quos! Voluptatibus omnis cumque ut voluptates?
  
  form(action="procesar.php").ed-container.contacto
    .ed-item.web-30
      label(for="nombres") Nombres y apellidos
    .ed-item.web-70
      input(type="text" id="nombres" name="nombres")
    .ed-item.web-30
      label(for="correo") Correo electrónico
    .ed-item.web-70
      input(type="email" id="correo" name="correo")
    .ed-item.web-30
      label(for="mensaje") Escriba su mensaje
    .ed-item.web-70
      textarea(name="mensaje" cols="30" rows="10" id="mensaje")
    .ed-item
      input(type="submit").enviar

block aside
  h2 Siguenos en Facebook
  a(href="http://facebook.com" target="_blank") Seguir