extends templates/template

append config
  -titulo = "Nosotros"
  -paginaActual = "nosotros"

block main
  h1 Nosotros
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores minima necessitatibus dolor harum modi. Enim corporis dolores ipsa non odit assumenda. Hic dolor eaque quos! Voluptatibus omnis cumque ut voluptates?
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores minima necessitatibus dolor harum modi. Enim corporis dolores ipsa non odit assumenda. Hic dolor eaque quos! Voluptatibus omnis cumque ut voluptates?

block aside
  h2 Siguenos en Facebook
  a(href="http://facebook.com" target="_blank") Seguir