-var sitio = "Curso HTML5 Desde Cero"
-var titulo = "Proyecto final"
-var descripcion = "Este es el proyecto final del curso HTML5 desde cero de Escuela Digital"
-var paginas = ["inicio","nosotros","servicios","clientes","contacto"]
-var paginaActual = "inicio"